body .list-group {
  display: none;
}

body .show {
  display: block;
}

.black-bg {
  visibility: hidden;
  position : fixed;
  z-index : 5;
  width : 100%;
  height : 100%;
  padding: 30px;
  background : rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 1s;
}
.black-bg.show-modal{
  visibility: visible;
  opacity: 1;
}
.white-bg {
  padding: 30px;
  background: white;
  border-radius: 5px;
}